<div class="par overflow-hidden h-[20px] bg-white">
  <div class="text-sm text-gray-600 up">
    <div class="mb-0 flex items-center">
      <img
        alt="nudge icon"
        class="w-[15px]"
        src="https://f.nooncdn.com/mpcms/EN0001/assets/f7013d8c-e4ef-4ebe-92d4-a36f4f20f0f0.png"
      />
      <span class="ms-1"> #1 in Surveillance Cameras </span>
    </div>
    <div class="mb-0 flex items-center">
      <img
        alt="nudge icon"
        class="w-[15px]"
        src="https://f.nooncdn.com/mpcms/EN0001/assets/d2809d6f-556e-414a-b0f9-51cef68684bc.png"
      />
      <span class="ms-1"> Selling out fast </span>
    </div>
    <div class="mb-0">
      <span class="me-1.5 text-amber-800"><i class="fa-solid fa-money-check"></i></span>
      Multiple Secure Payment Methods
    </div>
    <div class="mb-0 flex items-center">
      <img
        alt="nudge icon"
        class="w-[15px]"
        src="https://f.nooncdn.com/mpcms/EN0001/assets/f7013d8c-e4ef-4ebe-92d4-a36f4f20f0f0.png"
      />
      <span class="ms-1"> #1 in Surveillance Cameras </span>
    </div>
  </div>
</div>
