<form [formGroup]="newPassword" (ngSubmit)="restPassword()">
  <div data-aos="zoom-in" data-aos-delay="100" data-aos-duration="800">
    <div class="input-group w-full my-4">
      <p-floatlabel variant="in" class="mb-4">
        <input
          pInputText
          id="in_label"
          type="email"
          formControlName="email"
          autocomplete="off"
          class="w-full pt-[16px]"
          readonly
        />
        <label for="in_label">Email</label>
      </p-floatlabel>
    </div>
    <div class="input-group w-full my-4">
      <p-floatlabel variant="in" class="mb-4">
        <input
          pInputText
          id="in_label"
          type="password"
          formControlName="newPassword"
          autocomplete="off"
          class="w-full pt-[16px]"
        />
        <label for="in_label">NewPassword</label>
      </p-floatlabel>

      @if(newPassword.get("newPassword")?.touched&&newPassword.get("newPassword")?.invalid){
      <div
        class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
        role="alert"
      >
        <span class="sr-only">Error</span>
        <div>
          <ul class="list-disc list-inside">
            @if(newPassword.get("newPassword")?.getError("required")){

            <li class="mb-1 fade">
              <span class="font-medium">Password is required.</span>
            </li>
            } @if(newPassword.get("newPassword")?.getError("pattern")){

            <li class="mb-1 fade">
              <span class="font-medium"
                >Password must: Be at least 8 characters long Include at least
                one uppercase letter (A–Z) Include at least one lowercase letter
                (a–z) Include at least one number (0–9) Include at least one
                special character (e.g. !, #, $, %, etc.)
              </span>
            </li>

            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button
      [disabled]="newPassword.invalid || resetSpinner"
      class="block w-full bg-main text-white rounded-[10px] py-2 transition hover:bg-second cursor-pointer disabled:bg-[#B980B6] disabled:cursor-not-allowed"
    >
      <span>Reset</span>
      @if(resetSpinner){
      <span class="ms-1.5"><i class="fa-solid fa-spinner fa-spin"></i></span>

      }
    </button>
  </div>
</form>
