<form
  [formGroup]="sendCode"
  (ngSubmit)="sendCodeStep()"
  data-aos="fade-left"
  data-aos-delay="200"
  data-aos-duration="800"
  class="h-fit"
>
  <span class="text-second font-semibold text-[18px] mb-4 block">Get Code</span>
  <div class="input-group w-full mb-4">
    <p-floatlabel variant="in" class="w-full">
      <input
        pInputText
        id="in_label"
        autocomplete="off"
        class="w-full pt-[16px]"
        formControlName="email"
      />
      <label for="in_label">E-mail</label>
    </p-floatlabel>

    @if(sendCode.get("email")?.touched &&sendCode.get("email")?.invalid ){
    <div
      class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
      role="alert"
    >
      <span class="sr-only">Error</span>
      <div>
        <ul class="list-disc list-inside">
          @if(sendCode.get("email")?.getError("required")){

          <li class="mb-1 fade">
            <span class="font-medium">Email is required.</span>
          </li>
          } @if(sendCode.get("email")?.getError("email")){

          <li class="mb-1 fade">
            <span class="font-medium">Please enter a valid email </span>
          </li>
          }
        </ul>
      </div>
    </div>

    }
  </div>

  <button
    [disabled]="sendCode.invalid || showSpin"
    class="block w-[150px] bg-main text-white rounded-[10px] py-2 transition hover:bg-second cursor-pointer disabled:bg-[#B980B6] disabled:cursor-not-allowed"
  >
    <span>Send</span>
    @if(showSpin){
    <span class="ms-1.5"><i class="fa-solid fa-spinner fa-spin"></i></span>

    }
  </button>
</form>
<div class="mt-4"></div>
