<button
  class="cursor-pointer size-[35px] p-1 text-[20px] rounded bg-white transition ease-in text-main border-1 border-main hover:bg-third hover:border-third hover:text-white flex justify-center items-center"
  (click)="addToCart()"
>
  @if(showSpin){
  <span> <i class="fa-solid fa-spinner fa-spin"></i> </span>
  } @else {
  <span><i class="fa-solid fa-cart-plus"></i></span>

  }
</button>

<p-dialog
  header="Edit Profile"
  header="Authentication Required"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '20rem' }"
  appendTo="body"
  closeOnEscape="true"
  dismissableMask="true"
  [style]="{ width: '25rem' }"
>
  <p class="text-lg mb-6 font-medium">You need to login to continue</p>

  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
    <p-button label="Login" routerLink="/login" (click)="visible = false" />
  </div>
</p-dialog>
