.mySwiper2 swiper-slide {
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper2 {
  height: 400px;
  width: 100px;
}

.mySwiper2 .swiper-slide-thumb-active img {
  border: 3px solid var(--color-main);
}
swiper-container {
  width: 100% !important;
  height: 100%;
}
.imgages-slider {
  height: fit-content !important;
}
.imgages-slider swiper-slide {
  height: 100px !important;
}
