@if(productData){

<p-dialog
  header="Edit Profile"
  header="Authentication Required"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '20rem' }"
  appendTo="body"
  closeOnEscape="true"
  dismissableMask="true"
  [style]="{ width: '25rem' }"
>
  <p class="text-lg mb-6 font-medium">You need to login to continue</p>

  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
    <p-button label="Login" routerLink="/login" (click)="visible = false" />
  </div>
</p-dialog>

<div class="product-details">
  <div class="container px-3 mx-auto mt-20">
    <div class="py-2 my-4 title">
      <a
        [routerLink]="['/home']"
        class="text-gray-400 text-[16px] font-extrabold hover:text-gray-900 transition-colors"
        >Home
      </a>
      <span class="text-gray-400"> ></span>
      <span class="text-gray-400 text-[16px] font-bold"> Category </span>
      <span class="text-gray-400"> > </span>
      <a
        class="font-semibold text-gray-400 transition-colors hover:text-gray-900"
        [routerLink]="['/category', productData.category._id]"
        >{{ productData.category.name }}</a
      >
      <span class="text-gray-400"> > </span>

      <span class="font-medium text-main">{{
        productData.title.split(" ", 4).join(" ")
      }}</span>
    </div>

    <div class="grid grid-cols-12 my-10 product-card">
      <div
        class="flex flex-col-reverse lg:flex-row col-span-12 gap-3 md:col-span-5"
      >
        <!-- Vertical Swiper for thumbnails -->
        <div class="lg:w-1/4 lg:block">
          <swiper-container
            class="mySwiper2 imgages-slider"
            init="false"
            #swiper2
          >
            @for (img of productData.images; track $index) {
            <swiper-slide>
              <img
                [src]="img"
                class="object-cover w-full h-full transition-all border-2 border-gray-400 rounded"
              />
            </swiper-slide>
            }
          </swiper-container>
        </div>
        <!-- Main Swiper -->
        <div class="relative w-full lg:w-3/4">
          <button
            (click)="swipePrev()"
            class="custom-prev absolute left-2 top-1/2 cursor-pointer -translate-y-1/2 z-10 bg-white hover:text-white text-main hover:bg-second rounded shadow py-1 px-1.5"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            (click)="swipeNext()"
            class="custom-next absolute right-2 top-1/2 -translate-y-1/2 z-10 bg-white hover:text-white text-main hover:bg-second transition cursor-pointer py-1 px-1.5 rounded shadow"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
          <swiper-container
            #swiperRef
            class="mySwiper h-[400px]"
            thumbs-swiper=".mySwiper2"
            init="false"
          >
            @for (img of productData.images; track $index) {
            <swiper-slide>
              <img [src]="img" class="object-contain w-full h-full" />
            </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>

      <div class="col-span-12 product md:col-span-7 ps-6 my-5 md:my-0">
        <div class="relative flex items-center justify-between my-2">
          <span
            class="bg-red-600 text-white px-1.5 py-0.5 text-[13px] rounded block"
            >Non-Returnable</span
          >
          <app-wishlis-button [productId]="productData.id"></app-wishlis-button>
        </div>
        <div class="pb-3 border-gray-300 title border-b-1">
          <h2 class="text-2xl text-second font-semibold md:w-[75%] mb-2">
            {{ productData.title }}
          </h2>
          <p class="text-gray-700 text-[15px]">
            Brand: {{ productData.brand.name }}
          </p>
        </div>
        <div class="flex items-center my-3 price flex-wrap gap-2">
          <p class="mb-0 font-extrabold text-[20px] me-2 flex items-center">
            <span class="me-1">
              {{
                productData.priceAfterDiscount
                  ? productData.priceAfterDiscount
                  : productData.price
              }}
            </span>
            <span class="font-normal text-[14px]">EGP</span>
          </p>
          @if(productData.priceAfterDiscount){
          <p class="mb-0 line-through text-gray-500 text-[14px] me-1.5">
            {{ productData.price }}
          </p>
          <p class="mb-0 text-green-700 font-bold text-[14px]">
            {{ this.productService.productDiscount(productData) }}% Off
          </p>
          }
          <div class="ms-3.5">
            <app-features-of-product></app-features-of-product>
          </div>
        </div>
        <div class="flex items-center rating">
          <div class="rating-info flex me-2 text-[18px] text-gray-800">
            <span class="block me-1.5"
              >(+{{ productData.ratingsQuantity }})</span
            >
            <span class="block">{{ productData.ratingsAverage }}</span>
          </div>
          <div class="stars text-yellow-400 text-[16px] flex gap-1">
            @for (star of stars; track $index) { @if(star=="full"){
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21z"
                /></svg
            ></span>
            } @if(star=="half"){
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="m22 9.24l-7.19-.62L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27L18.18 21l-1.63-7.03zM12 15.4V6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28z"
                /></svg
            ></span>
            } @if(star=="empty"){
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="m22 9.24l-7.19-.62L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27L18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27l1-4.28l-3.32-2.88l4.38-.38L12 6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28z"
                />
              </svg>
            </span>
            } }
          </div>
        </div>
        <div class="my-4 font-semibold text-gray-500">
          {{ productData.description }}
        </div>
        <button
          (click)="addToCart(productData.id)"
          class="bg-main w-1/2 flex text-white px-4 py-3 rounded cursor-pointer transition-colors hover:bg-[#8c2c86]"
        >
          @if(showspin){
          <span><i class="fa-solid fa-spinner fa-spin"></i></span>
          } @else {
          <span class="block"> <i class="fa-solid fa-cart-plus"></i> </span>
          }
          <span class="block mx-auto">Add To Cart</span>
        </button>
      </div>
    </div>
  </div>

  <div class="relative p-5 my-5 slider-sale bg-section2">
    <div class="max-w-3xl px-4 mx-auto mb-10 text-center title">
      <h2 class="mb-4 text-3xl font-bold capitalize text-second section-head">
        Similar products
      </h2>
    </div>
    <div class="container px-3 mx-auto">
      <div class="relative slider-holder">
        <button
          (click)="similarPrev()"
          class="absolute left-0 z-10 p-2 text-white transition -translate-y-1/2 rounded shadow cursor-pointer custom-prev top-1/2 bg-main hover:bg-third"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M14.71 15.88L10.83 12l3.88-3.88a.996.996 0 1 0-1.41-1.41L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0c.38-.39.39-1.03 0-1.42"
            />
          </svg>
        </button>
        <button
          (click)="similarNext()"
          class="absolute right-0 z-10 p-2 text-white transition -translate-y-1/2 rounded shadow cursor-pointer custom-next top-1/2 bg-main hover:bg-third"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6z"
            />
          </svg>
        </button>
        <div>
          <swiper-container class="mySwiper" #similarRef init="false">
            @for (productItem of productList; track productItem.id) {
            <swiper-slide>
              <app-product [product]="productItem"></app-product>
            </swiper-slide>

            }
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
</div>

}
