<swiper-container init="false" #swiper class="mySwiper">
  <swiper-slide>
    <div
      class="flex flex-col justify-center bg h-full slide-2 md:ps-[150px] ps-4"
    >
      <p
        class="text-[25px] md:text-[25px] capitalize font-semibold -mb-2 text-main"
      >
        New arrivals
      </p>
      <h3 class="text-[50px] md:text-[70px] capitalize mb-2 text-main">
        jackets & Coats
      </h3>
      <a
        routerLink="/products"
        class="block bg-second text-white text-[18px] rounded p-2 w-fit hover:bg-third transition-colors"
        >Shop Now</a
      >
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex flex-col justify-center h-full slide-3 md:ps-[150px] ps-4">
      <p
        class="text-[25px] md:text-[25px] capitalize font-semibold -mb-2 text-main"
      >
        Don't Miss Out
      </p>
      <h3 class="text-[50px] md:text-[70px] capitalize mb-2 text-main">
        Modern Class
      </h3>
      <a
        routerLink="/products"
        class="block bg-second text-white text-[18px] rounded p-2 w-fit hover:bg-third transition-colors"
        >Shop Now</a
      >
    </div>
  </swiper-slide>
</swiper-container>
