<main class="">
  <div class="flex items-center min-h-screen py-10 overflow-hidden login">
    <div
      class="container mx-auto md:w-[90%] grid grid-cols-1 lg:grid-cols-2 px-4 rounded-3xl bg-section min-h-[500px] py-8"
    >
      <div
        class="flex flex-col items-center image justify-cente"
        data-aos="fade-right"
        data-aos-delay="100"
        data-aos-duration="800"
      >
        <h3 class="text-[35px] font-semibold text-second w-[80%] text-center">
          Stay secure. <span class="text-main">Stay stylish</span> . Reset and
          return.
        </h3>
        <img
          src="/images/Forgot password-cuate.svg"
          class="w-full lg:w-[50%]"
        />
      </div>
      <div class="px-5 form-div">
        <div
          class="mb-8 heading"
          data-aos="fade-down"
          data-aos-delay="100"
          data-aos-duration="800"
        >
          <h1 class="text-[35px] font-bold text-main">Forgot Password</h1>
          <p class="text-pargraph">Reset your password in 3 simple steps.</p>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
