@if(productsList){
<section class="mt-15 products-category">
  @if(brand){
  <div class="max-w-3xl px-4 mx-auto mt-10 mb-10 text-center title">
    <h2 class="mb-4 text-3xl font-bold text-second section-head">
      {{ brand.name }}
    </h2>
  </div>
  }
  <div class="container px-3 mx-auto">
    <div class="py-2 my-4 title">
      <a
        [routerLink]="['/home']"
        class="text-gray-400 text-[16px] font-extrabold hover:text-gray-900 transition-colors"
        >Home
      </a>
      <span class="text-gray-400"> ></span>
      <a
        [routerLink]="['/brands']"
        class="text-gray-400 text-[16px] font-bold hover:text-gray-900 transition-colors"
      >
        Barnds
      </a>
      <span class="text-gray-400"> > </span>
      <span class="font-semibold text-gray-400">{{ brand?.name }}</span>
    </div>
    @if( productsList.length > 0){

    <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-2 lg:grid-cols-5">
      @for (product of productsList; track product.id) {
      <app-product [product]="product"></app-product>
      }
    </div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 30]"
    />
    } @else {
    <div class="flex flex-col items-center justify-center w-full py-10 empty">
      <h2 class="text-main text-4xl text-center w-[70%] capitalize">
        no products in this Brand at the moment
        <span><i class="fa-regular fa-face-frown"></i></span>
      </h2>
      <img src="/images/Empty-cuate (1).svg" class="w-[450px]" />
    </div>

    }
  </div>
</section>
}
