<footer class="bg-black text-gray-400 py-8">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <nav class="mb-6 flex justify-center flex-wrap gap-6 text-sm">
      <a routerLink="/home" class="hover:text-white"> Home</a>
      <a routerLink="/products" class="hover:text-white">Products</a>
      <a routerLink="allorders" class="hover:text-white">My Orders</a>
      <a routerLink="/brands" class="hover:text-white">Brands</a>
      <a routerLink="/favourites" class="hover:text-white">WhisList</a>
      <a routerLink="/cart" class="hover:text-white">Cart</a>
    </nav>

    <div class="flex justify-center gap-6 mb-6">
      <a
        href="https://www.linkedin.com/in/mostafa-yahia-41867b226"
        target="_blank"
        class="hover:text-white"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/mostafa0yehya"
        target="_blank"
        class="hover:text-white"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>

    <p class="text-xs text-gray-400">
      &copy; 2025 Mostafa Yehya. All rights reserved.
    </p>
  </div>
</footer>
