@if(productsList){
<section class="products-category mt-20">
  @if(category){
  <div class="max-w-3xl mx-auto px-4 title text-center mb-10">
    <h2 class="text-3xl font-bold text-second mb-4 section-head">
      {{ category.name }}
    </h2>
  </div>
  }
  <div class="container mx-auto px-3">
    @if( productsList.length > 0){

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 p-4">
      @for (product of productsList; track product.id) {
      <app-product [product]="product"></app-product>
      }
    </div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 30]"
    />
    } @else {
    <div class="empty flex flex-col items-center justify-center w-full py-10">
      <h2 class="text-main text-4xl text-center w-[70%] capitalize">
        no products in this section at the moment
        <span><i class="fa-regular fa-face-frown"></i></span>
      </h2>
      <img src="/images/Empty-cuate (1).svg" class="w-[450px]" />
    </div>

    }
  </div>
</section>

}
