<section class="h-screen mb-10 main-slider">
  <app-main-slider></app-main-slider>
</section>

<section class="py-10 my-10 categories-section">
  <div class="max-w-3xl px-4 mx-auto mb-10 text-center title">
    <h2 class="mb-4 text-3xl font-bold text-second section-head">
      Our Categories
    </h2>
    <p class="text-lg text-gray-500">
      Discover a wide range of categories tailored to your needs. Whether you're
      shopping for fashion, electronics, or home essentials — we’ve got you
      covered.
    </p>
  </div>

  <div class="container px-3 mx-auto">
    <div
      class="grid grid-cols-1 gap-10 categories sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
    >
      @for (category of categories; track category._id; let i = $index) {
      <div
        data-aos="fade-up"
        [attr.data-aos-delay]="i * 100"
        data-aos-duration="800"
        data-aos-once="true"
      >
        <div
          [routerLink]="['/category', category._id]"
          class="category-item relative h-[300px] rounded-4xl cursor-pointer p-2"
        >
          <img
            [src]="category.image"
            alt="category.name"
            class="w-full object-contain md:object-cover h-[250px] rounded-t-4xl"
          />
          <h2 class="text-center pt-2 text-main text-[20px]" data-aos="fade-in">
            {{ category.name }}
          </h2>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<section class="py-10 my-10 sale-section bg-section2">
  <div class="max-w-3xl px-4 mx-auto mb-10 text-center title">
    <h2 class="mb-4 text-3xl font-bold text-second section-head">
      Hurry, It’s On Sale!
    </h2>
    <p class="text-lg text-gray-500">
      Don’t wait — these deals won’t last long. Shop trending items at
      irresistible prices before they’re gone.
    </p>
  </div>

  <div class="container px-3 mx-auto">
    <!--Render sale -->

    <div class="relative py-3 slider-sale">
      <button
        (click)="swipePrev()"
        class="absolute left-0 z-10 p-2 text-white transition -translate-y-1/2 rounded shadow opacity-0 cursor-pointer custom-prev top-1/2 bg-main hover:bg-third"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M14.71 15.88L10.83 12l3.88-3.88a.996.996 0 1 0-1.41-1.41L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0c.38-.39.39-1.03 0-1.42"
          />
        </svg>
      </button>
      <button
        (click)="swipeNext()"
        class="absolute right-0 z-10 p-2 text-white transition -translate-y-1/2 rounded shadow opacity-0 cursor-pointer custom-next top-1/2 bg-main hover:bg-third"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6z"
          />
        </svg>
      </button>
      <swiper-container class="mySwiper" #swiperRef init="false">
        @for (productItem of productList; track productItem.id) {
        <swiper-slide>
          <app-product [product]="productItem"></app-product>
        </swiper-slide>

        }
      </swiper-container>
    </div>
    <!--Render sale -->
  </div>
</section>

<section class="relative my-5 collections">
  <div class="max-w-3xl px-4 mx-auto mb-10 text-center title">
    <h2 class="mb-4 text-3xl font-bold text-second section-head">
      Shop by Collection
    </h2>
    <p class="text-lg text-gray-500">
      Explore curated categories tailored to your style and needs.
    </p>
  </div>
  <div class="container px-3 mx-auto md:h-[110vh]">
    <div
      class="grid h-full grid-cols-1 gap-8 grid-items lg:grid-cols-4 lg:grid-rows-2"
    >
      <div
        class="grid-item-1 lg:col-span-2 lg:row-span-2 flex items-end justify-center pb-[20%] px-5 rounded"
      >
        <h2 class="text-5xl text-white">Summer Collection</h2>
      </div>
      <div
        class="grid-item-2 lg:col-span-1 lg:row-span-1 flex items-end justify-center pb-[20%] px-5 rounded"
      >
        <h2 class="text-5xl text-white">Men's Collection</h2>
      </div>
      <div
        class="grid-item-3 lg:col-span-1 lg:row-span-1 flex items-end justify-center pb-[20%] px-5 rounded"
      >
        <h2 class="text-5xl text-white">Women's Collection</h2>
      </div>
      <div
        class="grid-item-4 lg:col-span-2 lg:row-span-1 flex items-end justify-center pb-[20%] px-5 rounded"
      >
        <h2 class="text-5xl text-white">Kids Collection</h2>
      </div>
    </div>
  </div>
</section>

<section>
  <app-brand-slider></app-brand-slider>
</section>
