@if(cart) {
<section class="cart">
  <div class="container mx-auto px-3 bg-white mt-20">
    <div class="navigation my-4 py-2">
      <a
        [routerLink]="['/home']"
        class="text-gray-400 text-[14px] font-extrabold hover:text-gray-900 transition-colors"
        >Home
      </a>
      <span class="text-gray-400"> ></span>

      <span class="text-gray-800 text-[14px] font-medium"> Shoping Cart</span>
    </div>

    <div class="title flex justify-between items-center line pb-3">
      <h1 class="text-3xl text-main text-[20px] md:text-2xl">Shoping Cart</h1>
      @if(cart.numOfCartItems>0){
      <div class="clear">
        <a
          (click)="clearCart()"
          class="px-2.5 flex items-center justify-center text-[14px] md:text-[16px] py-2.5 rounded bg-red-800 hover:bg-red-600 transition-colors text-white"
          >Clear Cart <span class="ps-2"><i class="fa-solid fa-trash"></i></span
        ></a>
      </div>
      }
    </div>

    <div class="details flex my-4 gap-14 flex-wrap overflow-x-hidden p-4">
      <div
        class="w-full lg:w-[60%] overflow-auto md:block bg-section rounded-2xl cart-holder border-gray-400"
        data-aos="fade-right"
        data-aos-delay="100"
        data-aos-duration="800"
      >
        <div class="mobile-cart-items">
          @if(cart.numOfCartItems>0){ @for (product of cart.data.products; track
          product._id) {
          <div
            class="product mb-2 flex justify-between gap-2.5 hover:bg-white py-3 px-5 flex-wrap flex-col md:flex-row transition-colors"
          >
            <div class="product-info flex justify-between">
              <img
                [src]="product.product.imageCover"
                class="w-[100px]"
                alt="cart item  image"
              />
              <div class="title-product ps-4">
                <span class="text-[15px] text-gray-500 block">{{
                  product.product.category.name
                }}</span>
                <h3 class="text-[20px] mb-4 text-second">
                  {{ product.product.title.split(" ", 2).join(" ") }}
                </h3>

                <span class="text-[15px] font-semibold text-gray-700"
                  >{{ product.price }} EGP</span
                >
              </div>
            </div>

            <div class="justify-between flex flex-col content-between">
              <div class="price flex md:justify-end mb-4 md:mb-0">
                <span class="text-[20px] font-bold pe-3 text-main"
                  >Total :</span
                >
                <span class="text-[18px] font-semibold text-gray-700">
                  {{ product.count * product.price }} EGP</span
                >
              </div>
              <div class="actions flex gap-5 items-center">
                <a
                  (click)="removeItem(product.product._id)"
                  class="text-red-800 border h-fit items-center flex justify-center border-red-800 transition-colors w-fit p-1 rounded hover:text-white hover:bg-red-600 hover:border-red-600"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"
                    />
                  </svg>
                </a>

                <div
                  class="border border-gray-500 rounded py-2 flex justify-between px-2 w-[150px]"
                >
                  <button
                    (click)="
                      updateProductQuantity(
                        product.product._id,
                        product.count - 1
                      )
                    "
                    class="text-gray-600 transition-colors hover:bg-red-600 hover:text-white bg-white-600 p-1 rounded"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M20 12H4"
                      />
                    </svg>
                  </button>
                  <span>{{ product.count }}</span>
                  <button
                    (click)="
                      updateProductQuantity(
                        product.product._id,
                        product.count + 1
                      )
                    "
                    class="text-gray-600 transition-colors hover:bg-green-600 hover:text-white bg-white-600 p-1 rounded"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M12 4v16m8-8H4"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          }} @else {
          <div
            class="empty flex flex-col justify-center items-center content-center h-full pb-4"
          >
            <img src="/images/empty-cart.png" alt="" class="w-[250px]" />
            <p>Your cart is empty !!</p>
            <a
              routerLink="/products"
              class="rounded bg-main hover:bg-second transition-colors p-2 text-white mt-6"
              >Shop Now</a
            >
          </div>
          }
        </div>
      </div>

      <div
        class="summary w-full border-gray-300 shadow border p-4 rounded lg:flex-[1] max-h-[450px]"
        data-aos="fade-left"
        data-aos-delay="100"
        data-aos-duration="800"
      >
        <h3 class="text-main text-2xl line pb-4 mb-4">Order Summary</h3>
        <div class="price flex justify-between items-center mb-4">
          <span class="text-[17.5px] font-semibold text-gray-700">Total</span>
          <span class="text-[16px]">{{ cart.data.totalCartPrice }} EGP</span>
        </div>
        <!-- <div class="price flex justify-between items-center mb-4">
          <span class="text-[17.5px] font-semibold text-gray-700">Price</span>
          <span class="text-[16px]">{{ cart.data.totalCartPrice }} EGP</span>
        </div> -->
        <div class="price flex justify-between items-center mb-4">
          <span class="text-[17.5px] font-semibold text-gray-700"
            >Shipping</span
          >
          <span class="text-[16px] text-green-700">Free</span>
        </div>
        <div class="price flex justify-between items-center mb-4">
          <span class="text-[17.5px] font-semibold text-gray-700"
            >Coupon Applied
          </span>
          <span class="text-[16px]">0.00EGP </span>
        </div>

        <div class="price flex justify-between items-center mb-4">
          <span class="text-[17.5px] font-semibold text-gray-700"
            >Estimated Delivery by
          </span>
          <span class="text-[16px]">{{ getDeliveryDate() }}</span>
        </div>
        <form class="relative w-[80%] md:w-full">
          <input
            type="text"
            placeholder="Coupon Code"
            class="w-full placeholder:text-gray-500 border-2 transition-colors border-gray-400 p-2 rounded-2xl outline-0"
          />
          <button
            class="absolute block code-button hover:bg-third transition-colors cursor-pointer bg-second"
          >
            Apply
          </button>
        </form>
        @if(cart.numOfCartItems>0){
        <div class="flex items-center mt-8 gap-5">
          <a
            [routerLink]="['/checkOut', cart.cartId, 'visa']"
            class="w-fit px-2.5 flex items-center justify-center h-[45px] gap-2 text-[12px] md:text-[17px] rounded bg-main hover:bg-[#8c2c86] transition-colors text-white"
            ><span>Online Payment</span>
            <img src="/images/visa-1.svg" class="w-[30px]" alt=""
          /></a>
          <a
            [routerLink]="['/checkOut', cart.cartId, 'cash']"
            class="w-fit px-2.5 flex items-center justify-center gap-2 h-[45px] text-[12px] md:text-[17px] rounded bg-second hover:bg-third transition-colors text-white"
          >
            <span>Cash On Delivery</span>
            <img
              src="/images/cash-on-delivery_2182526.png"
              class="w-[30px]"
              alt=""
            />
          </a>
        </div>
        }
      </div>
    </div>
  </div>
</section>
}
