<form
  [formGroup]="verfiyCode"
  (ngSubmit)="sendverify()"
  class="flex flex-col gap-4"
  data-aos="zoom-in"
  data-aos-delay="100"
  data-aos-duration="800"
>
  <span class="text-second font-semibold text-[18px] mb-4"> Verify Code</span>
  <p-inputotp [integerOnly]="true" [length]="6" formControlName="resetCode" />

  @if(verfiyCode.dirty &&verfiyCode.invalid ){
  <div
    class="flex items-center p-4 mt-2 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
    role="alert"
  >
    <span class="sr-only">Error</span>
    <div>
      <ul class="list-disc list-inside">
        @if(verfiyCode.get("resetCode")?.getError("required")){

        <li class="mb-1 fade">
          <span class="font-medium">Verifcation Code is required.</span>
        </li>
        } @if(verfiyCode.get("resetCode")?.getError("minlength")){

        <li class="mb-1 fade">
          <span class="font-medium">code must be at least 5 numbers </span>
        </li>
        }
      </ul>
    </div>
  </div>

  }
  <button
    [disabled]="verfiyCode.invalid || verifySpinner"
    class="block w-[150px] bg-main text-white rounded-[10px] py-2 transition hover:bg-second cursor-pointer disabled:bg-[#B980B6] disabled:cursor-not-allowed"
  >
    <span>Verify</span>
    @if(verifySpinner){
    <span class="ms-1.5"><i class="fa-solid fa-spinner fa-spin"></i></span>

    }
  </button>
</form>
